fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
sqlalchemy==2.0.43
psycopg[binary]==3.2.10
pdfplumber==0.11.7
anthropic==0.64.0
pydantic==2.11.7
python-dotenv==1.1.1
httpx==0.28.1
groq==0.31.0
openai==1.99.9
google-generativeai==0.8.5
PyMySQL==1.1.1
